<template>
    <footer class="main-footer">
        <div class="float-right d-none d-sm-inline">
            AdminLTE 3.0.5
        </div>
        <strong>
            Copyright &copy; 2020
            <a href="https://linktr.ee/hendisantika">Hendi Santika</a>.
        </strong> All rights reserved.
    </footer>
</template>
