<template>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a class="brand-link" href="#">
            <img
                alt="Logo"
                class="brand-image elevation-3" src="https://adminlte.io/themes/v3/dist/img/AdminLTELogo.png"
                style="opacity: .8">
            <span class="brand-text font-weight-light">AdminLTE3</span>
        </a>
        <div class="sidebar">
            <nav class="mt-2">
                <ul
                    class="nav nav-pills nav-sidebar flex-column"
                    data-accordion="false" data-widget="treeview"
                    role="menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="nav-icon fas fa-home"></i>
                            <p>Home</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</template>
